/* Global Variables
-----------------------------
*/

/* colors */

$dark_purple: #36295E;
$light_purple: #722FBC;

$dark_blue: #1A2EB6;
$light_blue: #4E22F8;

$red: #F7114E;
$orange: #F73647;
$pink: #F9418C;
$green: #2EFEC5;

/* fonts */

$default-font: 'Domine', serif;

.headlines {
   font-family: 'Bergen', sans-serif;
   text-transform: lowercase;
   font-weight: 700;
   color: #fff;
}

