@import 'globalvariables';
@import 'globalmixins';

@import './animation/slide';
@import './animation/dynamic-bg';
@import './navigation/header';


// GENERAL: Don't change these values.

.app, html, body {
   // This one has the Main Background Color (Static non-moving)
   position: fixed;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   font-family: 'Proxima Nova', sans-serif;
   font-size: 100%;
   color: #fff;
   background: $dark_purple;
}

.app-dynamic-bg-body {
    /* Use no Background Color on this "NOT-bootstraped", 
    instead use the file /animation/dynamic-bg.scss */
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.app-wrapper-body {
    // No Background Colors on this warpper
    // border: 10px solid $pink;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 3;
}



/*
---------------------------------
*/

// Fonts

.oddhill-headlines {
   font-family: 'Gotham', sans-serif;
}

.oddhill-text {
   font-family: 'Proxima Nova', sans-serif;
}

.oddhill-numbers {
   font-family: 'Century Schoolbook', serif;
}

h1 {
  @extend .oddhill-headlines;
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  @extend .oddhill-text;
  font-size: 0.875rem
}

.app-btn {
  cursor: pointer;
  background-color: #f7114e;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #fff;
  padding: 0.7rem 1.1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


/* Under här: Fixa in de i respektiva scss fil.
---------------------------------
*/

.views {
  padding: 10px;
  width: 100vw;
  height: 100vh;
  // background-color: #722FBC;
  color: white;
}

.slider-menu {
  position: absolute;
  top: 30px;
  right: 20px;
}