@import 'globalvariables';
@import 'globalmixins';

@import './scss-files/header';


/* A Basic Color Palette - Flat Design
-----------------------------
Blue #324D5C Green #46B29D Yellow #F0CA4D Orange #E37B40 Red #DE5B49

*/

/* General (Body)
-----------------------------
*/

#app {
    text-align: center;
    // background: #E7E7D0; 
}
.views {
  padding: 10px;
  width: 100vw;
  height: 100vh;
  background-color: #722FBC;
  color: white;
}

.slider-menu {
  position: absolute;
  top: 30px;
  right: 20px;
}